<div class="intro center">
  <h1>Nguyen Duc Van</h1>
  <p>A web developer obsesses with his own "freedom"</p>
</div>

<div class="owl-carousel">
  <div class="item"><img class="lazyOwl" data-src="https://farm4.staticflickr.com/3910/14377643428_94f2c1cf8e_k.jpg" alt="photo1"></div>
  <div class="item"><img class="lazyOwl" data-src="https://farm4.staticflickr.com/3869/14564271205_4b93cdda9a_k.jpg" alt="photo2"></div>
  <div class="item"><img class="lazyOwl" data-src="https://farm4.staticflickr.com/3888/14541176956_a6bac5fd50_k.jpg" alt="photo3"></div>
  <div class="item"><img class="lazyOwl" data-src="https://farm4.staticflickr.com/3866/14377588230_cce8d6f916_k.jpg" alt="photo4"></div>
</div>

<hr></hr>
<div class="who-am-i">
  <h2 class="center">About me</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-centered">
        <div class="col-md-5 ava">
          <img src="https://farm4.staticflickr.com/3872/14381724240_784a5e4904.jpg" width="333" height="500" alt="ava">
          <div class="right small credit">- Credit: <a href="http://dungnguyenphotography.com/" target="_blank">dungnguyenphotography</a></div>
        </div>
        <div class="col-md-7 intro-text">
          <span>
            <p>Hi, there,</p>
            <p>I am Nguyen Duc Van from Hanoi, Vietnam. I dream to be an environmental scientist or a tycoon but now I am an engineer of information technology.</p>
            <p>I interest in creating gorgeous websites, artificial intellience and computational biology.</p>
            <p>Check <%= link_to "my timeline", timeline_path %> to get to know me more. </p>
            <p>Thanks.</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// nav
$( "#home-nav-link" ).addClass('active');

// carousel
$(document).ready(function() {
  $(".owl-carousel").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      items : 1,
      lazyLoad : true
      
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
}); 

</script>