<ul class="nav nav-tabs nav-justified timeline-nav" role="tablist">
  <li class="active"><a href="#education" role="tab" data-toggle="tab">Education and training</a></li>
  <li><a href="#work" role="tab" data-toggle="tab">Working experience</a></li>
  <li><a href="#love" role="tab" data-toggle="tab">Love</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="education">
    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0ArSKJwE3SsCsdHI5UHR1RGNlb3hra3BhcEpicVhjNUE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=600' width='100%' height='600' frameborder='0'></iframe>
  </div>

  <div class="tab-pane fade" id="work">
    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0ArSKJwE3SsCsdGhWdm1YOU00SXBQNlFzUmx1ZEc0MHc&font=Bevan-PotanoSans&maptype=toner&lang=en&height=600' width='100%' height='600' frameborder='0'></iframe>
  </div>

  <div class="tab-pane fade" id="love">
    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0ArSKJwE3SsCsdC1sMTBlTTlicXNQWGlxbFdjdGhVU0E&font=Bevan-PotanoSans&maptype=toner&lang=en&height=600' width='100%' height='600' frameborder='0'></iframe>
  </div>
</div>

<script type="text/javascript">
  // navbar
  $( "#timeline-nav-link" ).addClass('active');

</script>
