<div id="navbar-id" class="navbar navbar-inner navbar-fixed-top navbar-static">
  <div class="container">
    <a href="#" id="logo" class="brand"></a>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li id="home-nav-link"><%= link_to "Home", root_path %></li>
        <li id="timeline-nav-link"><%= link_to "Timeline", timeline_path %></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>